.sayt{
    display: flex;
    gap: 60px;
    align-items: center;
}
.card1{
    width: 480px;
}
.card1 img{
    width: 94%  ;
}
.fpp{
    background-color: #545E761F;
    border-radius: 15px;
    padding: 5px;

    margin: 10px 0;
}
.tpp{
    width: 520px;
    height: 350px;
}
.cards{
    gap: 20px;
}
@media (min-width:0px) and (max-width:430px) {
    .sls{
        width: 100%;
    }
    .dark-btn{
        margin: 0 25px;
    }
    .cofe-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        margin: 0 10px;

    }
    .cofe{
        width: 100%;
    }
    .nash-klient{
        text-align: center;
    }
    .sayt{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 40px 0;
        justify-content: center;
    }
    .sayt div{
        margin: 0;
        padding: 0;
    }
    .sayt div img{
        width: 80%;
        margin: 0;

    }
    .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
    }
    .card1, .card2, .card3{
        width: 100%;
        
    }
    .wrasm{
        width: 100%;
    }
    
}